* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 로딩 화면 시작 */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hideLoading 3s forwards;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes hideLoading {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

/* 로딩 화면 끝 */


/* 헤더 시작 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    height: 80px;
}

.nav,
.util-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav li {
    position: relative;
}

.nav a,
.util-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: color 0.3s;
}

.nav a:hover,
.util-menu a:hover {
    color: #ffcc00;
}

/* 드롭다운 메뉴 기본 숨김 */
.hidden-headers {
    display: none;
    position: absolute;
    top: 100%;
    background: #333;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}

.hidden-headers li {
    list-style: none;
    padding: 5px;
}

.hidden-headers a {
    color: white;
    display: block;
    padding: 10px;
}

.dropdown:hover .hidden-headers {
    display: block;
}

/* 헤더 끝 */

/* 슬라이드 시작 */
.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 130px;
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    height: 600px;
    object-fit: cover;
}

input[name="slide"] {
    display: none;
}

#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}

.controls {
    position: absolute;
    top: 90%;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
}

.prev,
.next {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* 슬라이드 끝 */

/* 콘텐츠 영역 판매 상품 시작 */

.contnets {}

.contents h3 {
    text-align: center;
    margin-top: 50px;
}

.sales-product {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.sales-product-wrap {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.sales-product img {
    height: 400px;
    width: 400px;
}

/* 콘텐츠 영역 판매 상품 끝 */

/* 콘텐츠 영역 공지사항 시작 */
.notice {
    width: 65%;
    margin: 0 auto;
}

.notice-list ul {
    list-style: none;
    padding: 0;
    display: none;
}

.notice-list ul:target {
    display: block;
}

.notice-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-link {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.pagination .page-link:hover {
    background-color: #ddd;
}

.pagination .page-link:active {
    background-color: #ccc;
}

/* 콘텐츠 영역 공지사항 끝 */

/* 콘텐츠 영역 상품입점/제휴문의 시작 */
#partner-inquiry {
    text-align: center;
    margin-top: 150px;
}

.banners {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.banners img {
    margin-left: 30px;
    border: #333 solid 1px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
}

.procedure {
    list-style: none;
    padding: 0;
}

.procedure li {
    margin: 10px 0;
    padding: 10px;
}

.procedure li:hover {
    color: red;
    cursor: pointer;
}

/* 콘텐츠 영역 상품입점/제휴문의 끝 */

/* 소개 페이지 시작 */
#introduction {
    padding: 20px;
    line-height: 1.6;
    margin-left: 160px;
    margin-top: 200px;
}

#introduction h2 {
    color: #0073e6;
    margin-bottom: 10px;
}

#introduction p {
    margin-bottom: 20px;
}

#introduction img {
    width: 400px;
}

/* 소개 페이지 끝 */

/* 전체 상품 시작 */

.all-products-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.all-products img {
    width: 300px;
    height: 250px;
}

.popular p span {
    text-decoration: line-through;
}

.buttons {
    display: flex;
}

.buttons button {
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

/* 전체 상품 끝 */

/* 인기상품 시작 */

#popular-products-container {
    display: flex;
}

/* 인기상품 시작 */

/* 장바구니 시작 */
#cart-container {
    margin-top: 120px;
    padding: 100px;
}

#cart-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#cart-container table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#cart-container table th {
    background-color: #f2f2f2;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

.total {
    text-align: right;
    font-size: 1.2em;
    margin-top: 10px;
}

.purchase-button {
    background: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* 장바구니 끝 */

/* 푸터 시작 */
#footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-logo img {
    width: 100px;
}

.sns-icons {
    margin: 10px 0;
}

.sns-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: gray;
    border-radius: 50%;
}

.sns-icon:hover {
    background: initial;
    /* 실제 SNS 아이콘 색상으로 변경 */
}

.customer-service,
.footer-links,
.company-info,
.safety-service {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

/* 푸터 끝 */


/* B모듈 모토 시작 */
#moto-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.motos {
    width: 300px;
    height: 700px;
    margin-top: 150px;
    background-size: 750px 100%;
    /* 전체 이미지 크기 설정 */
    background-position: center;
    transition: background 0.3s ease-in-out;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

#moto1 {
    background-image: url(./선수제공파일/B-Module/나눔혁신.jpg);
}

#moto2 {
    background-image: url(./선수제공파일/B-Module/미래혁신.jpg);
}

#moto3 {
    background-image: url(./선수제공파일/B-Module/보안혁신.jpg);
}

#moto4 {
    background-image: url(./선수제공파일/B-Module/신뢰혁신.jpg);
}

#moto5 {
    background-image: url(./선수제공파일/B-Module/환경혁신.jpg);
}


/* B모듈 모토 끝 */

/* B모듈 전체 상품 페이지 시작 */
.video-container {
    width: 80%;
    margin: 50px auto;
    position: relative;
}

video {
    width: 100%;
}

#ad-video {
    margin-top: 60px;
    height: 600px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    max-width: 1000px;
    max-height: 1000px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#exhibit {
    display: flex;
}

.product {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.product img {
    height: 200px;
}

#order-area {
    height: 100px;
    width: 100%;
    display: flex;
    padding-bottom: 250px;
    gap: 10px;
}

#order-area img {
    height: 200px;
    width: 200px;
}

.product.dragged {
    opacity: 0.5;
}

/* B모듈 전체 상품 페이지 끝 */